<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src	'self' 'unsafe-inline' *; img-src 'self' data: *">-->
<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <p>로그인페이지</p>
  <button ion-button (click)="buyerList()">
    사용자조회
  </button>
  <ion-card id="login" #innerHTML>
    <div [innerHTML] = "html"></div>
  </ion-card>
  <button ion-button (click)="menuList()">
    메뉴조회
  </button>
 
  <div *ngIf="major != 0">{{ store }}</div>

<template ngFor let-menu [ngForOf]="menu" let-i=index>  
  <ion-list>
  <ion-item>
   
     <ion-thumbnail item-left>     
       <template ngFor let-menuFile [ngForOf]="menuFile">       
         <p *ngIf = "menu.menuNo == menuFile.menuNo">
             <img src = "http://192.168.0.201:9090/bit902web/upload/{{menuFile.filePath}}/{{menuFile.systemName}}"/>
         </p>   
       </template>
    </ion-thumbnail>
    
    <input type="hidden" [(ngModel)]="menu.name" name="name" readonly><h2>{{menu.name}}</h2>
    <input type="hidden" [(ngModel)]="menu.price" name="price" readonly><p>{{menu.price}}</p>
    <input type="hidden" [(ngModel)]="menu.stName" name="stName" readonly><p>{{menu.stName}}</p>

    <p>수량을입력하세요:<button ion-button color="light" icon-only (click)="orderPlus(menu)">
        <ion-icon name='arrow-up'></ion-icon>
    </button>  
    <input type="text" style="width:35px" [(ngModel)]="menu.quantity" />
    <button  ion-button color="light" icon-only (click)="orderMinus(menu)">
      <ion-icon name='arrow-down'></ion-icon>
    </button></p> 
      <input type="hidden" [(ngModel)]="menu.content" name="content" readonly><p>{{menu.content}}</p><br>
      <input type="text" value="{{ menu.quantity * menu.price }}" name="d{{i}}" id="d{{i}}">금액: {{ menu.quantity * menu.price }}원 
     </ion-item> 
    </ion-list>
    </template>

<br>
 <div *ngIf = "menu!=undefined">
    <textarea [(ngModel)]="orderContent" name="orderConten"> 
  </textarea>
  <br>
    최종 주문금액: 
<button (click)="order()">결제하기</button>
<ion-icon name="heart"></ion-icon>  
</div>
<br>


</ion-content>

